node_modules
.idea
dist
*.log
.DS_Store
.vscode
version.txt
bundle.zip

packages/bundle/css
packages/bundle/cursors
packages/bundle/fonts
packages/bundle/images
packages/bundle/js
packages/bundle/locale
packages/bundle/terms
packages/bundle/showcase.html
packages/bundle/version.txt
